@import "./graph/bar-graph.scss", "./graph/line-graph.scss", "./graph/pie-graph.scss", "./graph/radar-graph.scss";

.graph-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 835px;
  .graph-large {
    width: 100%;
    max-height: 320px;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .graph-row {
    display: flex;
    width: 100%;
    gap: 1vw;
    .graph-small {
      flex: 1;
      aspect-ratio: 1/1;
      max-width: calc((100% / 3) - 1vw);
      max-height: 263px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
    }
  }
}
