.line {
  background: linear-gradient(90deg, #ff0000 70%, #e60000 70%);
  h3 {
    color: #ff8181;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    margin: 1rem 0 0 2rem;
    width: 100%;
  }
  .line-tooltip {
    background-color: #fff;
    padding: 0 7px;
    font-size: 8px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-wrap: nowrap;
  }
}
